# Prepare Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Define Initial And Process Columns

In [13]:
columns_jakarta = ["periode_data","tanggal","pm_10","pm_duakomalima","so2","co","o3","no2","max","critical","categori","lokasi_spku"]
columns_yogyakarta = ["No.","Waktu","PM10","PM2.5","SO2","CO","O3","NO2","Critical_Component"]

# Load data and transform to similiar features

In [18]:
# load data jakarta
data_jakarta = pd.read_csv('data_mentah_jakarta.csv')

# pick pm_10, pm_duakomalima, so2, co, o3, no2
columns_jakarta2 = ["pm_10", "pm_duakomalima", "so2", "co", "o3", "no2", "categori"]
data_jakarta = data_jakarta[columns_jakarta2]

# load data yogyakarta
data_yogyakarta = pd.read_csv('data_mentah_yogyakarta.csv')

# pick PM10,PM2.5,SO2,CO,O3,NO2
columns_yogyakarta2 = ["PM10", "PM2.5", "SO2", "CO", "O3", "NO2"]
data_yogyakarta = data_yogyakarta[columns_yogyakarta2]

# rename columns to pm10, pm2_5, so2, co, o3, no2, kualitas
data_jakarta.columns = ["pm10", "pm2_5", "so2", "co", "o3", "no2", "kualitas"]
data_yogyakarta.columns = ["pm10", "pm2_5", "so2", "co", "o3", "no2"]

# save to csv files
data_jakarta.to_csv('data_jakarta.csv', index=False)
data_yogyakarta.to_csv('data_yogyakarta.csv', index=False)

display(
  data_jakarta.head(),
  data_yogyakarta.head()
)

   pm10  pm2_5  so2  co  o3  no2     kualitas
0    54     73   56  24  23   24       SEDANG
1    40     64   57  21  17   24       SEDANG
2    75    129   45  25  71   26  TIDAK SEHAT
3    66    110   47  16  61   23  TIDAK SEHAT
4    56     78   49  11  60   13       SEDANG

   pm10  pm2_5  so2    co   o3   no2
0  16.2    0.0  7.6  18.2  1.0  11.0
1  10.4    0.0  7.5  16.0  1.0  11.0
2  10.7    0.0  8.6  16.5  1.0  10.5
3  19.3    0.0  8.5  18.9  0.8  10.0
4   0.0    0.0  0.4  14.4  0.0   6.4

# SVM